body , html
{
	margin: 0;
	padding: 0;
}
.muzic-i
{
	margin-left: 40px;
	margin-top: 20px;
}
.M_z 
{
	margin: 20px;
	font-size:xx-large;
	padding: 10px;
}

.M_z
{
	padding-top:30px ;
	margin-left: 100px;
}
.baneer
{
	margin-left:0px;
	margin-top: 7px;
	width:1800px;
	height: 600px;
}
.tabb
{
	margin-left:750px;
}
.img-sen
{
	margin-left: 300px;
	margin-bottom: 147px;
	border: 1px solid black;
    border-radius: 10px;    
}
.img-sen2
{
	margin-left: 30px;
	margin-bottom:147px; 
	border: 1px solid black;
    border-radius: 10px;        
}
.len-m
{
	margin-left: 800px;
	color: #0000ff;
}
.img-sen3
{
	margin-left: 300px;
	margin-bottom:147px;
	border: 1px solid black;
    border-radius: 10px;	        
}
.aaa
{
	margin: 100px;
}
.vvv
{
	padding: 10px;
	margin: 10px;
	border: 1px solid #d1d1d1;
}
.dia
{
	padding: 10px;
    border: 1px solid #d1d1d1;
    margin: 10px;

}
.main-menu li{
	float: right;
	width: 280px;
	height: 40px;
	line-height: 40px;
	list-style: none;
	text-align: center;
	background: #2574a9;
}
.main-menu li a{
	text-decoration: none;
	color: white;
	font-weight: bold;
}
.main-menu ul{
	display: none;
}
.main-menu li:hover ul{
	display: block;
}
.main-menu li:hover{
	background: #115;
}
.main-menu li:hover  a{
     color: white
}
.main-menu ul li{
	background: #2574a9;
}
.muzic-i
{
margin-left: 40px;
margin-bottom: 0px;
margin-top: 0px;
height: 150px;
width: 150px;
margin-top: 0px;
}
.main-menu ul
{
	background: red;
}





































